@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");
:not(blockquote) {
  margin: 0;
}
html,
body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  /* box-sizing: border-box; */
}

.first-section {
  background-color: #1f2937;
  color: #f9faf8;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.header h3 {
  font-size: 24px;
}
ul {
  padding: 0;
  display: flex;
  list-style: none;
}

li {
  margin-left: 20px;
}
a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  height: 250px;
  width: 1000px;
  display: flex;
  gap: 50px;
  margin: 80px auto;
}

.left-side {
  height: 100%;
  width: 45%;
  padding-right: 20px;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.hero h1 {
  font-weight: 900;
  font-size: 48px;
}

.hero p {
  font-size: 18px;
}

.placeholder-image {
  height: 100%;
  width: 50%;
  background-color: #a8a6a6;
}
.placeholder-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 850px;
  margin: 0 auto;
  padding-bottom: 120px;
}

h2 {
  font-size: 36px;
  padding: 50px 0;
  color: #1f2937;
  font-weight: 900;
}

.infos {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.info {
  width: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info p {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 300;
  color: #a8a6a6;
}

.box {
  border: 5px solid #3883f6;
  border-radius: 10%;
  height: 150px;
  width: 150px;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.third-section {
  width: 100%;
  height: 250px;
  background-color: #e5e7eb;
  padding: 50px 0;
}

.quote-container {
  width: 880px;
  margin: 0 auto;
}
blockquote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  font-weight: 300;
  margin-bottom: 0;
}
.cite-container {
  text-align: right;
  width: 880px;
}
cite {
  text-align: right;
  font-weight: bold;
  margin-right: 60px;
}

.fourth-section,
footer {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action {
  background-color: #3882f6;
  color: white;
  height: 100px;
  width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h4 {
  font-size: 24px;
  padding-bottom: 5px;
}

.sign-up {
  background-color: #3882f6;
  color: white;
  padding: 10px 20px;
  width: 34%;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

.cta-button {
  border: 2px solid white;
  width: 15%;
}

footer {
  background-color: #1f2937;
  color: #f9faf8;
  height: 100px;
}
